html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.card-deck .card {
    min-width: 220px;
}

header {
    z-index: 100;

}

nav {
    background-color: white;
}

.navbar-nav {
    display: flex;
    justify-content: right;
}

.navbar-nav li:nth-child(1) a:hover {
    color: #42DDFF;
}

.navbar-nav li:nth-child(2) a:hover {
    color: #1DCBC8;

}

.navbar-nav li:nth-child(3) a:hover {
    color: #FECA01;

}

.navbar-nav li:nth-child(4) a:hover {
    color: #FE7DC9;

}

.navbar-nav li:nth-child(5) a:hover {
    color: #478DF3;

}

.navbar-brand span {
    color: black;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.navbar-brand p:nth-child(1) {
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.navbar-brand p:nth-child(2) {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    text-align: justify;
}

.nav-item a {
    color: #ADADAD;
    font-weight: 800;
    font-size: 22px;
    padding: 0 15px;
}

.carousel-inner {
    max-height: 750px;
}

.carousel-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: center;
    object-position: center center;
}

.box {
    height: 20px;
}

.box img {
    width: 120px;
    height: 120px;
}

.ribbon .box:nth-child(1) {
    background-color: #42DDFF;
    width: 20%;
}

.ribbon .box:nth-child(2) {
    background-color: #1DCBC8;
    width: 20%;
}

.ribbon .box:nth-child(3) {
    background-color: #FECA01;
    width: 20%;
}

.ribbon .box:nth-child(4) {
    background-color: #FE7DC9;
    width: 20%;
}

.ribbon .box:nth-child(5) {
    background-color: #478DF3;
    width: 20%;
}


.About-CYSH {
    background-color: #F0F0F0;
    width: 100%;
}

.About-CYSH h1 {
    font-family: 'Kanit';
    font-weight: bolder;
}

.About {
    color: black;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: flex-start;
}

.About h1 {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 53px;
    letter-spacing: 0.02em;
}

.About p {
    width: 480px;
    text-indent: -13px;
    font-family: 'Kanit';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.arrow1 {
    color: #FFE153;


}

.arrow2 {
    color: #46A3FF;

}

/* .lead {
    text-align: left;
    font-size: 20px;
    font-weight: 800;
    text-indent: -2em;
} */

.right {
    transform: rotate(-45deg);

}



.Vision-box .box {
    height: 321px;
    ;
    /* aspect-ratio: 1/1; */

}

.box p {
    font-family: 'Kanit';
    font-size: 20px;
    font-weight: 700;
    text-indent: -15px;
}

.box p:nth-child(1) {
    width: 240px;
}

.box p:nth-child(2) {
    width: 220px;
}

.box p:nth-child(3) {
    width: 235px;
}

.box p:nth-child(4) {
    width: 230px;
}

.Vision-box .box:nth-child(1) .bi {
    color: #42DDFF;
    ;
    font-size: 25px;
}

.Vision-box .box:nth-child(2) .bi {
    color: #FE7DC9;
    font-size: 25px;
    margin-right: 20px;
}

.Vision-box .box:nth-child(3) .bi {
    color: #1DCBC8;
    font-size: 25px;
}

.Vision-box .box:nth-child(4) .bi {
    color: #FECA01;
    font-size: 25px;
}

.location {
    background-image: url(img/back.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.locationicon {
    width: 76px;
    height: 68px;
}

.location p {
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 53px;
    color: #F0F0F0;
}

/* .location .background {
  
    position: absolute;
    z-index: -100;
    object-fit: cover;
    height: 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
} */

.location .bi {
    font-size: 60px;
    color: white;
}

.location strong {
    font-size: 40px;
    color: white;
}

.locationimg {
    background-color: black;
}

.locationimg:hover {
    filter: alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 0.8;
}


footer {
    width: 100%;
    background-color: #7B7B7B;
    padding: 0px 20px 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer ul {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    flex-direction: column;
    list-style-position: outside;
    list-style: none;
    width: 350px;
}


footer p {
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    /* background-color: #00E3E3; */
}

li img {
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

ul li:nth-child(3) img {
    margin-right: 10px;
    width: 11px;
    height: 15px;
}

/* footer li p {
    color: white;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
} */

.community img:nth-child(1) {
    width: 35px;
    height: 35px;
}

.community img:nth-child(2) {
    width: 41px;
    height: 30px;
}

.community img:nth-child(3) {
    width: 33px;
    height: 33px;
}

@media screen and (max-width:570px) {
    .About p {
        width: auto;
    }

    .box p {
        width: auto !important;
    }

}

@media screen and (max-width:1160px) {
    .top {
        display: flex;
        flex-direction: column;
    }

    .Information {
        width: 350px;
    }

    .community {
        width: 350px;
    }

}